*{
    margin: 0px;
    padding: 0px;
    /*border: 1px dotted blue;*/
}

html{
    font-family: 'Fondamento', cursive;
}

h1{
    font-size:32px;
}
h2{
    font-size:24px;
}
h3{
    font-size:18px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#hero{
    background: url("Images/Murals/Garden-Mural.jpg");
    width: 720px;
    height: 350px; 
    background-size: cover;
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    filter:drop-shadow(0px 5px 4px rgba(106, 46, 52, 0.5));
}

#hero-title{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 412px;
    height: 56px;
    color: white;
    background: #A39377;
}


#hero-description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 412px;
    height: 56px;
    color: white;
    background: #415442;
    
}

#main{
    color: #6A2E34;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#DDDAAC;
    width: 720px;
    height: 406px;
}

.location-pic{
    height: 105px;
    width: 105px;
    object-fit: cover;
}

.info{
    display: flex;
    justify-content: center;;
    align-items: flex-start;
}

.info-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.title{
    text-align: center;
    height: 46px;
    margin: 20px 0px;
}

#footer{
    width: 720px;
    height: 366px;
    background: url("Images/Murals/Farm-Mural.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:center;
    justify-content:center;
    filter:drop-shadow(0px -5px 4px rgba(106, 46, 52, 0.5));
}

.guide-block{
    width: 334px;
    height: 225px;
    display:flex;
    flex-direction: row;
    background:#A39377;
    align-items:center;
    justify-content:center;
    padding: 20px 20px;
}

#avatar{
    max-width: 150px;
    height: 208px;
    object-fit: cover;
}

.guide-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 20px;
    padding-right: 0px;
}

.guide-description{
    font-size: 12px;
    margin-bottom: 20px;
}

.shadow{
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius:20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: blue;
}
