
*{
    margin: 0;
    padding: 0;
}

/* colors
Yellow #d9d15e
Dark Blue #1b2e34
Light Blue #8bbbec
Green #65855d
Red #9b3036
*/


#header{
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #65855d;
    height: 100px;
    box-shadow: 0px 10px 10px #1b2e34;
}

body{
    background-image:url(Images/Mural.jpg);
    background-size: cover;
    font-family: 'Fondamento', cursive;
}

#hero{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.info{
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    background-color:#d9d15e

}

.info p{
    font-size: 24px;
    margin-top: 30px;

}